<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:insert="layout::upperSide" ></div>
<nav th:insert="layout::menu"></nav>

<!-- Page Wrapper -->
<div class="page-wrapper">

  <!-- Page Content -->
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Department</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Categoria</li>
          </ul>
        </div>
        <div class="col-auto float-right ml-auto">
          <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Categoria</a>
        </div>
      </div>
    </div>




    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <div>
          <table class="table table-striped custom-table mb-0 datatable">
            <thead>
            <tr>
              <th style="width: 30px;">#</th>
              <th>Nombre de Categoria</th>
              <th class="text-right">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="categoria : ${lstcategoria}">
                  <td th:text="${categoria.idtipo}"></td>
                  <td th:text="${categoria.nombrecategoria}"></td>
                  <td class="text-right">
                    <div class="dropdown dropdown-action">
                      <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_department"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item delete-btn" th:href="@{/deleteCategoria/{idtipo}(idtipo=${categoria.idtipo})}" data-toggle="modal" data-target="#delete_department" th:data-id="${categoria.idtipo}"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                      </div>

                      <script>
                        $(document).ready(function() {
                          $('.delete-btn').on('click', function(e) {
                            e.preventDefault();
                            var idtipo = $(this).data('id');

                            // Show the delete modal
                            $('#delete_department').modal('show');

                            // Set up the click event for the delete button in the modal
                            $('.continue-btn').on('click', function() {
                              // Hide the modal
                              $('#delete_department').modal('hide');

                              // Send an AJAX request to the delete endpoint
                              $.ajax({
                                url: '/Categoria/deleteCategoria/' + idtipo,
                                type: 'GET',
                                success: function(response) {
                                  // Handle the delete operation (optional)
                                  console.log('Delete request successful');
                                  console.log(response);
                                  // Redirect to the list of products
                                  window.location.href = '/Categoria/listarCategorias';
                                },
                                error: function(xhr, status, error) {
                                  // Handle errors
                                  console.log(status);
                                  console.log('Error occurred while deleting: ' + error);
                                }
                              });
                            });
                          });

                          // Set up the click event for the cancel button in the modal
                          $('.cancel-btn').on('click', function() {
                            // Hide the modal
                            $('#delete_department').modal('hide');

                            // Go back to the previous page
                            history.back();
                          });

                        });

                      </script>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->

  <!-- Add Categoria Modal -->
  <div id="add_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form th:action="@{saveCategoria}" th:object="${categorias}" method="POST">
            <div class="form-group">
              <label>Nombre de Categoria<span class="text-danger">*</span></label>
              <input class="form-control" type="text" th:field="*{nombrecategoria}">
            </div>
            <div class="submit-section">
              <button class="btn btn-primary submit-btn">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Add Categoria Modal -->

  <!-- Edit Categoria Modal -->
  <div id="edit_department" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Nombre de Categoria <span class="text-danger">*</span></label>
              <input class="form-control" value="IT Management" type="text">
            </div>
            <div class="submit-section">
              <button class="btn btn-primary submit-btn">Grabar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /Edit Categoria Modal -->

  <!-- Delete Categoria Modal -->
  <div class="modal custom-modal fade" id="delete_department" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Department</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a class="btn btn-primary continue-btn">Delete</a>
              </div>
              <div class="col-6">
                <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Delete Categoria Modal -->

</div>
<!-- /Page Wrapper -->


</body>
</html>